<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.png" type="image/png">
    <link rel="stylesheet" href="stylehome.css">
    <title>Buscar Alquiler por ID</title>
</head>

<body>
    <main class="overlay">
        <h1>Buscar Reserva por ID</h1>

        <form th:action="@{/findReservaById}" method="post">
            <div class="form-group">
                <label class="form-label" for="id">ID de la reserva:</label>
                <input type="number" id="id" name="id" th:value="${param.id}" placeholder="Introduce el ID" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <div class="btn-group">
            <a th:href="@{/listReservas}" class="btn btn-secondary">Ver Todas las Reservas</a>
            <a th:href="@{/}" class="btn btn-secondary">Inicio</a>
        </div>
    </main>
</body>

</html>
